*{
    /* IN html every tag has its default margin and padding */
    padding: 0px;
    margin: 0px;

    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
}

header{
    /* background-color: brown; */
    width: 100%; 
    height: 100vh;

    /* linear gradient makes the background image opacity low so that our text can visible more bright  */
    /* linear-gradient rgba(upper portion), rgba(lowerportion) */
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)),url('/Second Project/image/alonebike.jpg');

    background-size: cover;
}

nav{
    font-size: 23px;


    width: 100%; height: 15vh;
    background-color: black;
    color: white;

    display: flex;
    /* to make them completely opposite to each other  */
    justify-content:space-between;

    /* To vertically center the items  */
    align-items: center;

}

.logo{
    border: 2px solid red;

    width: 20%; 
    
    /* to make the text into center  */
    text-align: center;
}

.menu{
    border: 2px solid red;
    width: 30%;

    display: flex;
    justify-content: space-around;

}

.menu a{

    /* border: 2px solid white; */
    color: white;


    /* dekho jo space-around hota hai us se all foursides space ajata hai but hum menu mai chahte hai ki sirf right mai space aye or left mai nahi aye to isliye hum yaha width 25% le rahe hai.  */
    /* total menu width is 100% and we give 25% to all four option, and it takes ever space for better understanding uncomment the border  */
    width: 25%;

    /* to remove lines of anchor tag links */
    text-decoration: none;
}


/* ----------------------------section------------------------- */

.maincontent { 
    /* font-size: 40px; */

    width: 100%;
    height: 85vh;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;


}

section h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

section h3{
    align-items: center;
    justify-content: center;
}

